.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.owo {
  font-size: 12rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  @media (max-width: 800px) {
    font-size: 8rem;
  }
}
